h1{
    font-size: 40px;
    font-family: 'Raleway', sans-serif;

}
span{
    color: red;
}
h3{
    font-style: italic;
}
.half{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
    border-radius: 50%;
}
img{
    border-radius: 30%;
}
.top{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}
section{
    height: 500px;
}
body{
    margin: 0mm;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient( rgb(122, 192, 216) , blue );
    padding: 10px 20px;
    border-radius: 5px;
    color: black;
    font-size: 15px;
    font-weight: 700;
    font-style: oblique;
}
h2{
    font-style: italic;
}
.second{
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
    
}
.second p {
    color: blue;
}